In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('Used_Bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [7]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [8]:
df.shape

(32648, 8)

In [9]:
df.duplicated().sum()

25324

In [10]:
df.drop_duplicates(inplace=True )

In [11]:
df.shape

(7324, 8)

In [12]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [13]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [14]:
cat_col = df.select_dtypes(include="O")
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [15]:
cat_col['bike_name'].nunique()

471

In [16]:
cat_col = cat_col.drop(['bike_name','city'] , axis=1)
cat_col

            owner            brand
0     First Owner              TVS
1     First Owner    Royal Enfield
2     First Owner          Triumph
3     First Owner              TVS
4     First Owner           Yamaha
...           ...              ...
9362  First Owner             Hero
9369  First Owner            Bajaj
9370  First Owner  Harley-Davidson
9371  First Owner            Bajaj
9372  First Owner            Bajaj

[7324 rows x 2 columns]

In [17]:
cat_col['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [18]:
dt = {"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [19]:

cat_col['owner'] = cat_col['owner'].map(dt)

In [20]:
cat_col['brand'].nunique()

23

In [21]:
unique_brands = list(cat_col['brand'].unique())
unique_brands

['TVS',
 'Royal Enfield',
 'Triumph',
 'Yamaha',
 'Honda',
 'Hero',
 'Bajaj',
 'Suzuki',
 'Benelli',
 'KTM',
 'Mahindra',
 'Kawasaki',
 'Ducati',
 'Hyosung',
 'Harley-Davidson',
 'Jawa',
 'BMW',
 'Indian',
 'Rajdoot',
 'LML',
 'Yezdi',
 'MV',
 'Ideal']

In [22]:
num_col = df.select_dtypes(exclude="O")
num_col.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

In [23]:
cat_col['brand'].unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [24]:
n = 1
dt2 = {}
for i in unique_brands:
    # print(i)
    dt2[i] = n
    n+=1

In [25]:
cat_col['brand'] = cat_col['brand'].map(dt2)

In [26]:
cat_col

      owner  brand
0         1      1
1         1      2
2         1      3
3         1      1
4         1      4
...     ...    ...
9362      1      6
9369      1      7
9370      1     15
9371      1      7
9372      1      7

[7324 rows x 2 columns]

In [27]:
pd.get_dummies(df).astype(int).shape # one hot encoding

(7324, 945)

In [28]:
num_col

         price  kms_driven  age  power
0      35000.0     17654.0  3.0  110.0
1     119900.0     11000.0  4.0  350.0
2     600000.0       110.0  8.0  675.0
3      65000.0     16329.0  4.0  180.0
4      80000.0     10000.0  3.0  150.0
...        ...         ...  ...    ...
9362   25000.0     48587.0  8.0  150.0
9369   35000.0     60000.0  9.0  220.0
9370  450000.0      3430.0  4.0  750.0
9371  139000.0     21300.0  4.0  400.0
9372   80000.0      7127.0  5.0  220.0

[7324 rows x 4 columns]

In [29]:
df2 = pd.concat([cat_col,num_col],axis=1)
df2.head(2)

   owner  brand     price  kms_driven  age  power
0      1      1   35000.0     17654.0  3.0  110.0
1      1      2  119900.0     11000.0  4.0  350.0

In [30]:
df2.isnull().sum()

owner         0
brand         0
price         0
kms_driven    0
age           0
power         0
dtype: int64

In [31]:
# x , y independent , dependent 
x = df2.drop('price',axis='columns')
y = df2[['price']]

In [32]:
# train testing split 
from sklearn.model_selection import train_test_split

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [34]:
### MODEL TRAINING 
from sklearn.linear_model import LinearRegression

In [35]:
lr = LinearRegression()

In [36]:
lr.fit(x_train,y_train)

LinearRegression()

In [37]:
### MODEL EVALUTATION 
lr.score(x_train,y_train)   # training data

0.7170926331842795

In [38]:
lr.score(x_test,y_test)

0.732331464746644

In [39]:
### model score should be above to 90%  -- 
### train & testing score difference not should be more than 5% 
### model over fit or model underfit 


### METRICS EVALUTATION METHOD 
# MSE   --> mean squared error
# MAE  -- > mean absolute error 
# RMSE  ==> root mean squared erorr 
# SCORE 
# ADJUSTED R SQUARED  or rsquared

In [40]:
# model overfit 
# traing score --->   HIGH 
# TEST SCORE --- >    LOW       ### ( OVERFIT CONDITION )


# ##  MODEL UNDER FIT 
# TRAINING SCORE ====>  LOW 
# TESTING SCORE  ====>  LOW/HIGH   ## (MODEL UNDER FIT)

In [41]:
prediction = lr.predict(x_test)

In [42]:
y_test['predicted_price'] =  prediction

In [43]:
y_test 

## with error rate 
# 90%   --> 10
# 70%   --> 30 
# mean squared error 
y_test['difference'] = y_test['price'] - y_test['predicted_price']

In [44]:
y_test
# difference --> residual

         price  predicted_price    difference
870    65500.0     30636.777986  34863.222014
7720   26000.0     36292.919240 -10292.919240
7848  130000.0    133390.396857  -3390.396857
3692   63400.0    104589.559383 -41189.559383
1157  270000.0    260189.323606   9810.676394
...        ...              ...           ...
634    19000.0     12414.109828   6585.890172
1433  115000.0    133390.396857 -18390.396857
3871  130000.0    215992.934507 -85992.934507
2026   71299.0    113302.836921 -42003.836921
1120   35000.0     81806.235460 -46806.235460

[1465 rows x 3 columns]

In [45]:
## mse function mae , rmse

In [46]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [47]:
mean_squared_error(y_test['price'],y_test['predicted_price'])

# shold be lower 
# accuracy score

4071015182.4791756

In [48]:
mean_absolute_error(y_test['price'],y_test['predicted_price'])
# should be low

33285.56410417911

In [49]:
import numpy as np

In [50]:
mse = mean_squared_error(y_test['price'],y_test['predicted_price'])
mse

4071015182.4791756

In [51]:
np.sqrt(mse)   # root mean squared error

63804.50754044871

In [52]:
## score 

# r_squared  , adjusted rsquared 
lr.score(x_train,y_train)

##

0.7170926331842795

In [53]:
from sklearn.metrics import r2_score

In [54]:
r2_score(y_test['price'],y_test['predicted_price'])   # test data

0.732331464746644

In [55]:
loss = (1-0.7073023549018256)*(1465-1)/(1465-5-1)
1-loss

0.7062992786677673

In [56]:
x_test.shape

(1465, 5)

In [57]:
import joblib , pickle

In [58]:
ls = ['aditya.jiet@gmail.com',"hello@123456"]

In [59]:
joblib.dump(ls,'email_id.lb')

['email_id.lb']